var config = {};
config.ipApiKey = "";
config.ipApiKeyUrl = "http://api.ipapi.com/api/";
config.virusTotalApiKey = "";
config.virustTotalUrl = "https://www.virustotal.com/api/v3/ip_addresses/";
module.exports = config;